<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <div th:fragment="footer">
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Qbits 2018</small>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>