<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/main}">
<head>
    <title>[[#{activity.messages.list.title}]]</title>

    <th:block th:replace="fragments/datatables :: css"></th:block>

    <th:block layout:fragment="stylesheets">

        <link th:href="@{/css/activity-messages.css}" rel="stylesheet" />

    </th:block>

</head>
<div layout:fragment="content">

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">Activity Messages</li>
    </ol>

    <div class="row">
        <div class="col-12">
            <h1>[[#{module}]]</h1>
            <div id="page_content">
                <h4 class="mb-3">[[#{activity.messages.list.title}]]</h4>
                <div class="col-10">
                    <div class="row">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="activity">Activity</label>
                                    <div id="activity-ac">
                                        <input type="text" class="form-control typeahead tt-query" autocomplete="off" spellcheck="false"
                                               id="activity" placeholder="Enter an activity name...">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="environment">Environment</label>
                                    <div id="environment-ac">
                                        <input type="text" class="form-control typeahead tt-query" autocomplete="off" spellcheck="false"
                                               id="environment" placeholder="Enter an environment name...">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="status">Status</label>
                                    <div id="status-ac">
                                        <input type="text" class="form-control typeahead tt-query" autocomplete="off" spellcheck="false"
                                               id="status" placeholder="Enter a status name...">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="module">Module</label>
                                    <div id="module-ac">
                                        <input type="text" class="form-control typeahead tt-query" autocomplete="off" spellcheck="false"
                                               id="module" placeholder="Enter a module name...">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <button type="button" onclick="reloadTable()" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <table id="activitiesTable" class="table table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th scope="col">[[#{activity.table.id}]]</th>
                                <th scope="col">[[#{activity.table.environment}]]</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th scope="col">[[#{activity.table.id}]]</th>
                                <th scope="col">[[#{activity.table.environment}]]</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">

    <th:block th:replace="fragments/datatables :: scripts"></th:block>

    <script type="text/javascript" th:src="@{/lib/typeahead/typeahead.bundle.min.js}"></script>

    <script th:inline="javascript">

        function reloadTable() {
            $('#activitiesTable').DataTable().ajax.reload();
        }

        $(function() {

            var table = $('#activitiesTable').DataTable({
                "processing": true,
                "dataType": "json",
                "ajax": {
                    "url": "/v1/activity/messages/find",
                    "type": "GET",
                    "dataSrc": "",
                    "data": function (data) {

                        var activity = $('#activity');
                        if (activity.attr('activityId') == null) activity.val('');
                        data.activityId = activity.attr('activityId');

                        var status = $('#status');
                        if (status.attr('statusId') == null) status.val('');
                        data.statusId = status.attr('statusId');

                        var environment = $('#environment');
                        if (environment.attr('environmentId') == null) environment.val('');
                        data.environmentId = environment.attr('environmentId');

                        var module = $('#module');
                        if (module.attr('moduleId') == null) module.val('');
                        data.moduleId = module.attr('moduleId');

                    }
                },
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "width": "15%",
                        "defaultContent": '<button style="font-size: 16px;" class="btn btn-primary"><span>Show detail</span> <i class="fas fa-plus-circle"></i></button>'
                    },
                    {"data": "activity.activityId"},
                    {
                        "data": "activity.environment",
                        "render": function (data, type, row) {
                            return '<span style="color: rgb(30, 149, 232); font-weight: bold;">' + data.id + ' - ' + data.name + '</span>';
                        }
                    }
                ]
            });

            $('#activitiesTable tbody').on('click', 'td.details-control', function () {

                var tr = $(this).closest('tr');
                var row = table.row(tr);

                var showDetailButton = $(this).find('button');

                if (row.child.isShown()) {

                    showDetailButton.removeClass("btn-secondary").addClass("btn-primary");
                    $(showDetailButton).find("span").text("Show detail");
                    showDetailButton.find("i").removeClass("fa-minus-circle").addClass("fa-plus-circle");

                    row.child.hide();
                    tr.removeClass('shown');

                } else {

                    showDetailButton.removeClass("btn-primary").addClass("btn-secondary");
                    $(showDetailButton).find("span").html("Hide detail");
                    showDetailButton.find("i").removeClass("fa-plus-circle").addClass("fa-minus-circle");

                    var data = row.data();

                    var tableId = data.activity.activityId.replace(" ", "").toLowerCase();
                    var subTableId = "subtable-" + tableId;

                    row.child(format(subTableId)).show();
                    tr.addClass('shown');

                    $('table#' + subTableId).DataTable({
                        data: data.messages,
                        columns: [
                            {data: "id"},
                            {data: "message"},
                            {
                                data: "module",
                                "render": function (data, type, row) {
                                    return '<span style="color: rgb(30, 149, 232); font-weight: bold;">' + data.id + ' - ' + data.name + '</span>';
                                }
                            },
                            {
                                data: "status",
                                "render": function (data, type, row) {

                                    if (data === 'SUCCESS') {
                                        return '<span style="color: rgb(71, 147, 66); font-weight: bold;">' + data + '</span>';
                                    } else {
                                        return '<span style="color: rgb(149, 32, 32); font-weight: bold;">' + data + '</span>';
                                    }
                                }
                            }
                        ],
                        searching: false,
                        paging: false,
                        ordering: false,
                        info: false
                    });

                }

            });

            function inputTypeahead(inputId, name, url, display, suggestion) {

                $('#' + inputId + ' .typeahead').typeahead({hint: true, highlight: true, minLength: 1}, {
                    name: 'modules',
                    display: display,
                    source: new Bloodhound({
                        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                        queryTokenizer: Bloodhound.tokenizers.whitespace,
                        remote: { url: url, wildcard: '%query'}
                    }),
                    templates: {
                        empty: [
                            '<div class="empty-message">',
                            'Unable to find any ' + name + ' that match the current query',
                            '</div>'
                        ].join('\n'),
                        suggestion: suggestion
                    }
                });

            }

            inputTypeahead('activity-ac', 'activity', '/v1/activity/messages/find/suggestions?activityId=%query', 'activityId', function(data) {
                return '<p>' + data.activityId + ' : ' + data.environment.name + '</p>'
            });

            inputTypeahead('module-ac', 'module', '/v1/catalogs/modules/find?query=%query', 'name', function(data) {
                return '<p>' + data.id + ' : ' + data.name + '</p>'
            });

            inputTypeahead('environment-ac', 'environment', '/v1/catalogs/environments/find?query=%query', 'name', function(data) {
                return '<p>' + data.id + ' : ' + data.name + '</p>'
            });

            inputTypeahead('status-ac', 'status', '/v1/catalogs/status/find?query=%query', 'name', function(data) {
                return '<p>' + data.id + ' : ' + data.name + '</p>'
            });

            $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
                var inputId = ev.target.id;
                if (inputId === 'activity') {
                    $('input#' + inputId).attr(inputId + 'Id', suggestion.activityId);
                } else {
                    $('input#' + inputId).attr(inputId + 'Id', suggestion.id);
                }
            });

            $('.typeahead').bind('typeahead:asyncrequest', function(ev) {
                var inputId = ev.target.id;
                $('input#' + inputId).attr(inputId + 'Id', null);
            });

        });

        function format(subTableId) {
            return  '<table id="' + subTableId + '" class="display" border="0" style="width:100%;">' +
                        '<thead>' +
                            '<tr>' +
                                '<th>Id</th>' +
                                '<th>Message</th>' +
                                '<th>Module</th>' +
                                '<th>Status</th>' +
                            '</tr>' +
                        '</thead>' +
                    '</table>';
        }

    </script>

</th:block>
</html>